# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist/
build/

# Virtual environments
.venv/
venv/

# MkDocs build output
site/

# OS files
.DS_Store

# Editor settings
.idea/
.vscode/
