# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist/
build/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
coverage.xml
htmlcov/
pip-wheel-metadata/

# Environment files
.env
.env.*
!.env.example

# Virtual environments
.venv/
venv/

# MkDocs build output
site/
.mkdocs_cache/

# OS files
.DS_Store

# Editor settings
.idea/
.vscode/
